<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../../favicon.ico">
    <title>Desafio Infoglobo</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Desafio Infoglobo</a>
        </div>
        {% if user.is_authenticated %}
        <form class="navbar-form navbar-right" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">
            <span class="fa fa-sign-out"></span>
            Logout
          </button>
        </form>
        {% endif %}
      </div>
    </nav>
    <div class="container">
      <div class="page-header">
        <br>
        <h1>Feed Crawler</h1>
      </div>
      <p class="lead">Esse crawler converte o feed de notícias da revista auto esporte de XML para JSON.</p>
      <div class="row">
        <div class="col-lg-8">
          <div class="input-group">
            <input type="text" class="form-control" value="http://revistaautoesporte.globo.com/rss/ultimas/feed.xml">
            <span class="input-group-btn">
              <button id="convert_button" class="btn btn-default" type="button">Converter</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <form>
        <div class="form-group">
          <br>
          <label for="comment">JSON Output:</label>
          <textarea id="json_feed" class="form-control" rows="15" style="overflow:auto;resize:none"></textarea>
        </div>
      </form>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/loading.js"></script>
    <script type="text/javascript">
      $(function() {
          $( "#convert_button" ).click(function() {
            setTimeout(function () {
              $.ajax({
                  type:"POST",
                  url:"{% url 'feed_crawler:index' %}",
                  success: function(data, textStatus) {
                      if (data) {
                        waitingDialog.hide();
                        $('#json_feed').val(data);
                      }
                  }
              })
              waitingDialog.show('Convertendo...', {dialogSize: 'sm'});
            }, 10000);
          })
        });
      </script>
  </body>
</html>