<html>
<head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="container">
        {% block content %}
        <form class="form-signin" method="post" action=".">
            {% csrf_token %}
            <h2 class="form-signin-heading">Desafio Infoglobo</h2>
            <div class="form-group">
                <label for="id_username" style="margin:0px 5px 5px 0px;">Usuário</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password" style="margin:0px 5px 5px 0px;">Senha</label>
                {{ form.password }}
            </div>
            <input type="submit" class="btn btn-lg btn-primary" value="Entrar"/>

            {% if form.errors %}
            <p>
                <div class="alert alert-danger">
                    <strong>Erro!</strong> Usuário ou senha incorretos. Tente novamente.
                </div>
            </p>
            {% endif %}
        </form>
        {% endblock %}
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>